{% extends "layout.njk" %}

{%  block content %}

<div class="card">
  <section class="avatar" 
  style=" background-image: url('https://source.unsplash.com/collection/9419482/)background-size:cover; background-repeat:no-repeat; background-position: center;">

  </section><!--avatar-->

  <section class="details">

  </section><!

</div><!--card-->

{%  endblock content %}